* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 24px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto;
}

.tile {
    width: calc((700px/4) - 20px);
    height: calc((700px/4) - 20px);
    border: 1px solid black;
}

.tile-fill {
    background-color: black;
}

.generate {
    text-align: center;
    width: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 24px;
}